body{
    background: linear-gradient(90deg,rgb(85, 81, 85),rgb(77, 71, 76),rgb(85, 81, 85));
    background-size: cover;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news{
    background-color: rgb(31, 29, 29);
    color: white;
    height: 75%;
    width: 75%;
    border-radius: 3%;
    padding: 20px;
    line-height: 1.6;
}
.button {
    background-color: #000000; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
  }
.news h3,h2{
    text-align: center;
}
hr{
    width: 50%;
}
